

.text {
	width: 100%;
	height: 100vh;
	background: url('img/uni2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-weight: bold;
	font-family: monospace, sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	display: flex;
	justify-content: center;
	align-items:  center;
  flex-direction: column;
	text-align: justify;
	max-width: 100%;
	}
	span{
		text-shadow: 0 0 20px rgba(255,255,255,.2);
    font-size: 7em;

	}
  p{
      font-size: 30px;
    -webkit-text-fill-color: white;
    font-family: monospace, sans-serif;
    text-align: center;
  }
	body {
	background: url('img/uni.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100wh;
	padding: 0;
	margin: 0;

}
.outer-text{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    background:black;
    text-align: center;
}


.color {
    color:#ec7d00;
    font-weight:bold;
    font-style: italic;
    text-decoration: underline;
}

nav ul li {
    padding: 1% 0;
    margin: 0 2%;
    width: 25%;
    text-align: center;
}

nav ul li a {
    color: #FFF;
    text-decoration:none;  
}

nav ul li a:hover {
    text-decoration:underline;
    text-shadow: 1px 1px 1px #999;
}



